Babel==2.10.3
configparser==5.2.0
dj-database-url==1.0.0
Django==4.0.6
django-heroku==0.3.1
docutils==0.18.1
Flask==2.1.2
GitPython==3.1.27
google-api-core==1.19.1
google-api-python-client==1.12.11
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-cloud-core==2.3.1
google-cloud-storage==2.4.0
google-crc32c==1.3.0
google-measurement-protocol==1.1.0
google-resumable-media==2.3.3
googleapis-common-protos==1.52.0
googlemaps==4.6.0
greppo==0.0.33
httplib2==0.20.4
httplib2shim==0.0.3
json5==0.9.8
keyring==23.6.0
numpy==1.22.4
numpydoc==1.4.0
oauthlib==3.2.0
pandas==1.4.3
pandas-geojson==1.2.0
pandocfilters==1.5.0
parso==0.7.1
path==16.4.0
pathlib2==2.3.7.post1
Pillow==9.2.0
pkginfo==1.8.3
pyxdg==0.28
PyYAML==6.0
pyzmq==23.2.0
qstylizer==0.2.1
QtAwesome==1.1.1
qtconsole==5.3.1
QtPy==2.1.0
quad==0.1.0
regex==2022.6.2
requests==2.28.1
requests-gssapi==1.2.3
requests-ntlm==1.1.0
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rich==12.5.1
rope==1.2.0
rsa==4.8
s3transfer==0.6.0
ujson==5.4.0
unicodecsv==0.14.1
uritemplate==4.1.1
urllib3==1.26.9
uvicorn==0.18.2
validators==0.20.0
virtualenv==20.15.1
watchdog==2.1.9
webencodings==0.5.1
websocket-client==1.3.3
websockets==10.3
zipp==3.8.0
